body {
    background-color: #121212;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 270px;
    perspective: 1000px;
    margin-bottom: 10px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #ffffff;
    color: black;
}
  
.flip-card-back {
    background-color: #ffffff;
    color: black;
    transform: rotateY(180deg);
}

/*Login:------------------------------------------------------------------------------------*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
/* Set a style for all buttons */
button {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;    
}
  
button:hover {
    opacity: 0.8;
}
  
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
  
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
  
img.avatar {
    width: 40%;
    border-radius: 50%;
}
  
.container {
    padding: 16px;
}
  
span.psw {
    float: right;
    padding-top: 16px;
    color: black;
}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
  
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* Position the login button to the top right */
.nav-login {
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Change color of "Remember me" */
.container label {
    color: black; /* Dark purple */
    font-weight: bold;
}


section {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-card {
    width: 250px; /* Fixed width for the profile card */
    margin: auto; /* Reduced margin for closer spacing */
    margin-top: 40px;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 100%; /* Ensure the image fits within its container */
}

.w3-button {
    transition: background-color 0.3s ease; /* Smooth transition for hover effects */
}

.text {
    color: white;
}
